* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(4, 101, 131);
  --main-duration: 0.5s;
  --main-radius: 4px;
  --main-shadow: 0 0 5px #00000038;
}

body {
  font-family: "Ubuntu", sans-serif;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding-inline: 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.special {
  color: var(--main-color);
  font-size: 25px;
}
